<div>
  <div>
    <h1>
      All boards
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new board
    </h2>

    <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add board
      </button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between">
          All boards
          <button class="ms-auto btn btn-outline-success">Add a new board</button>
        </div>  
        <ul class="list-group list-group-flush">
          <% @list_of_boards.each do |a_board| %>
            <li class="list-group-item">
              <a href="/boards/<%= a_board.id %>" class="d-flex justify-content-between align-items-center">
                <%= a_board.name %>
                <i class=" fa-solid fa-chevron-right"></i>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
